{% extends 'layout.html' %}
{% block content %}

<div class="container-fluid">

<div class ="row" ng-app = 'courseApp'  ng-controller='courseCtrl'>
  <nav class="col-md-2 d-none d-md-block bg-light sidebar" ng-init = 'courses = {{ data }}'>
    <div class="sidebar-sticky courses" ng-init='deffinitions = ["deffinition", "thats good math you know it is required for MATH people, not HSS so I dont think so that you will be able to take this course because you already got 3 priority thats sucks you know ahahaahah"]'>
      <ul class="nav flex-column" >
                {% for i in data:%}
                <li class="nav-item">
                  <a class="nav-link" href="#" data-toggle="tooltip" data-placement="right" title="Course Name: {{i[1]}} Credit: {{i[4]}}

                  Time: ||course[6]||" >{{i[0]}} {{i[1]}} <span class="sr-only">(current)</span>
                  </a>

                  <form action = "http://localhost:5000/builder" method = post>
                      {{ form.hidden_tag() }}
                      <fieldset>
                        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Upload</a> -->
                          {{ form.data1(value = data[0][0]) }}
                          {{ form.data2(value = data[0][1]) }}
                          {{ form.link(class = 'btn btn-primary btn-lg')}}
                      </fieldset>

                    </form>
 
                </li>
                {% endfor %}
      </ul>
    </div>
  </nav>

  <main class="col-md-8 ml-sm-auto col-lg-10 px-4">
    <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesdat</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
      </tr>
    </thead>
    <tbody ng-init = 'tables = ["9:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00"]'>
          <tr ng-repeat = "table in tables">
            <th scope="row">||table||</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>  </td>
            <td> </td>
            <td> </td>
          </tr>
    </tbody>
    </table>
  </main>

</div>

</div>

{% endblock content %}