{% extends 'layout.html' %}
{% block content %}
<div class="container page">
  <div id="content" class="container main" ng-view>

    <div class="jumbotron">
      <h1 class="display-4">Welcome to NU Schedule Builder!</h1>
      <p class="lead">This is a simple schedule builder for NU Students</p>
      <hr class="my-4">
      <p>You can upload your transcript or continue without it</p>
      <p class="lead">
        <form method="POST">
          {{ form.hidden_tag() }}
          <fieldset>
            <a class="btn btn-primary btn-lg" href="#" role="button">Upload</a>
            {{ form.link(class = 'btn btn-primary btn-lg')}}
          </fieldset>
          {{ form.data1(value = data[0][0]) }}
          {{ form.data2(value =  data[0][1])  }}
        </p>


        <hr>
      </div>
      {% endblock content %}
